@import url("https://cdn.syncfusion.com/ej2/material.css");

.app-container {
  @apply relative
  flex
  dark:bg-main-dark-bg;
}

.theme-settings-container {
  @apply fixed
  right-4
  bottom-4;

  z-index: 1000;
}

.theme-settings-btn {
  @apply text-3xl
  text-white
  p-3
  hover:drop-shadow-xl
  hover:bg-light-gray;

  border-radius: 50%;
}

.sidebar-container {
  @apply dark:bg-secondary-dark-bg;

  box-shadow: 0px 7px 30px 0px rgb(113 122 131 / 11%);
}

.sidebar-container--open {
  @apply fixed
  w-72
  bg-white;
}

.sidebar-container--close {
  @apply w-0;
}

.app-body {
  @apply bg-main-bg
  dark:bg-main-dark-bg
  w-full
  min-h-screen;
}

.app-body--sidebar-open {
  @apply md:ml-72;
}

.app-body--sidebar-close {
  @apply md:ml-0;
}

.navbar-container {
  @apply fixed
  bg-main-bg
  dark:bg-main-dark-bg
  w-full
  md:static;
}

.navbar-container,
.nav-item {
  z-index: 10000;
}

@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

/***********************/
/* Custom Scrollbar    */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
/***********************/

/***********************/
/* Color-picker Style  */
#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}
/***********************/

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}
